.hero_men {
    background-image: url('../../Imge/hero_men.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Make sure the parent is relative */
   
    height:50rem; /* Set a height for the parent element */
    
   
   
  }
  .mark_left{
    position: absolute;
    top: 25rem;
    right: 0;
  }
  
  .position_men {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
  }
  .mark_right{
    position: absolute;
    top: 25rem;
    left: 0;
  }
  
.hero_women{
    background-image: url("../../Imge/portrait-photorealistic-female-cowboy-sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Make sure the parent is relative */
    height: 50rem; /* Set a height for the parent element */
    
}
.position_women {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }
  .slide_1{
    background-color: #CCFF00;
  }
  .slide_2{
    background-color: #9CF0E0;
  }
  .slide_3{
    background-color: #F799BB;
  }
  .slide_4{
    background-color: #429F62;
  }
  .position_1_mark{
    background-image: url("../../Imge/cowgirl1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon1{
    position: absolute;
    top: 15rem;
  }
  .position_2_mark{
    background-image: url("../../Imge/cowgirl2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon2{
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
  .position_3_mark{
    background-image: url("../../Imge/cowgirl3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon3{
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
  .position_4_mark{
    background-image: url("../../Imge/cowgirl4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon4{
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
  .position_5_mark{
    background-image: url("../../Imge/cowboy1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon5{
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
  .position_6_mark{
    background-image: url("../../Imge/cowboy2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon6{
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
  .position_7_mark{
    background-image: url("../../Imge/cowboy3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon7{
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
  .position_8_mark{
    background-image: url("../../Imge/cowboy4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
  }
  .icon8{
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
 
 